<section class="min-h-screen bg-[#2B1810] flex items-center justify-center py-10 px-4">
    <div class="max-w-lg w-full bg-[#E8D5B5] rounded-lg shadow-lg p-8">
        <!-- Logo -->
        <div class="flex justify-center mb-6">
            <i class="fa-solid fa-chess-rook text-6xl text-[#422800]"></i>
        </div>
        <!-- Título -->
        <h2 class="text-3xl font-bold text-center text-[#422800] mb-6">Regístrate</h2>
        <!-- Formulario -->
        <form [formGroup]="myForm" (ngSubmit)="submit()">
            <!-- Nombre Completo -->
            <div class="mb-4">
                <label for="name" class="block text-sm font-medium text-[#422800] mb-2">Nombre de usuario</label>
                <input type="user" formControlName="nickname" class="form-control" placeholder="Nickname"
                    class="w-full px-4 py-2 border-2 border-[#422800] rounded-lg bg-[#fbeee0] text-[#2B1810] focus:outline-none focus:ring-2 focus:ring-[#D0C6A3]">
            </div>
            <!-- Correo Electrónico -->
            <div class="mb-4">
                <label for="email" class="block text-sm font-medium text-[#422800] mb-2">Correo Electrónico</label>
                <input type="email" formControlName="email" class="form-control" placeholder="nombre@correo.com"
                    class="w-full px-4 py-2 border-2 border-[#422800] rounded-lg bg-[#fbeee0] text-[#2B1810] focus:outline-none focus:ring-2 focus:ring-[#D0C6A3]">
            </div>
            @if(myForm.get('email').invalid && registerHints){
            <div class="error">
                @if(myForm.get('email').hasError('required')){
                <div>
                    El correo electrónico es obligatorio.
                </div>
                }
                @if(myForm.get('email').hasError('email')){
                <div>
                    Tiene que ser un email válido.
                </div>
                }
            </div>
            }
            <!-- Contraseña -->
            <div class="mb-4">
                <label for="password" class="block text-sm font-medium text-[#422800] mb-2">Contraseña</label>
                <input type="password" id="password" placeholder="********"
                    class="w-full px-4 py-2 border-2 border-[#422800] rounded-lg bg-[#fbeee0] text-[#2B1810] focus:outline-none focus:ring-2 focus:ring-[#D0C6A3]">
            </div>
            @if(myForm.get('password').invalid && registerHints){
            <div class="error">
                @if(myForm.get('password').hasError('required')){
                <div>
                    La contraseña es obligatoria.
                </div>
                }
                @if(myForm.get('password').hasError('minlength')){
                <div>
                    La contraseña debe tener mínimo 6 caracteres.
                </div>
                }
            </div>
            }
            <!-- Confirmar Contraseña -->
            <div class="mb-6">
                <label for="confirm-password" class="block text-sm font-medium text-[#422800] mb-2">Confirmar
                    Contraseña</label>
                <input type="password" id="confirm-password" placeholder="********"
                    class="w-full px-4 py-2 border-2 border-[#422800] rounded-lg bg-[#fbeee0] text-[#2B1810] focus:outline-none focus:ring-2 focus:ring-[#D0C6A3]">
            </div>
            @if(myForm.get('confirmPassword').invalid){
            <div class="error">
                @if(myForm.get('confirmPassword').hasError('mismatch')){
                <div>
                    Debe coincidir con la contraseña.
                </div>
                }
            </div>
            }
            <!-- Botón de Registro -->
            <div class="flex justify-center">
                <button type="submit"
                    class="bg-[#fbeee0] border-2 border-[#422800] text-[#422800] font-semibold text-lg px-6 py-2 rounded-full shadow-[4px_4px_0_0_#422800] hover:bg-[#D0C6A3] active:shadow-[2px_2px_0_0_#422800] active:translate-x-[2px] active:translate-y-[2px]">
                    Regístrate
                </button>
            </div>
        </form>
        <!-- Enlace de Iniciar Sesión -->
        <div class="mt-6 text-center">
            <p class="text-sm text-[#2B1810]">¿Ya tienes cuenta?
                <a href="/log" class="text-[#422800] font-medium hover:underline">Inicia sesión aquí</a>
            </p>
        </div>
    </div>
</section>