      <!-- Vista de chat -->
      <div class="bg-brown-600 text-brown-100 w-[350px] h-[500px] flex flex-col shadow-lg rounded-lg p-4">
        <div class="overflow-y-auto flex-1 p-2 space-y-2">
          @for (m of chatService.messages; track $index) {
            @if (authService.currentUser.id != m.userId) {
            <!-- Mensaje del usuario -->
            <div class="flex items-start justify-start">
              <div class="bg-brown-100 p-2 rounded-lg text-brown-600 max-w-[80%]">
                {{m.Message}}
              </div>
            </div>
            }@else {
            <!-- Mensaje del otro usuario -->
            <div class="flex items-start justify-end">
              <div class="bg-brown-100 p-2 rounded-lg text-brown-600 max-w-[80%]">  
                {{m.Message}}      
              </div>
            </div>
            }
          }
        </div>

        <div class="flex items-center space-x-2 mt-2 p-2 border-t border-brown-500">
          <input 
            type="text" 
            class="flex-1 p-2 border border-brown-200 rounded-lg text-brown-700 bg-brown-200 placeholder-brown-500"
            placeholder="Escribe un mensaje..." [(ngModel)]="message">
          <button (click)="sendMessage()" class="bg-brown-200 text-brown-700 py-2 px-4 rounded-lg hover:bg-brown-300 transition">Enviar</button>
        </div>
      </div>