<div class="container mx-auto my-8 px-4">
  <div class="flex flex-col md:flex-row gap-6">
   
    <div class="w-full md:w-3/4 lg:w-5/6">
      <h2 class="text-2xl font-bold text-brown-800 mb-6 text-center md:text-left">
        Gestión de Usuarios
      </h2>
      
      <div class="overflow-x-auto bg-brown-200 shadow-lg rounded-xl">
        <table class="w-full text-left border-collapse">
          <thead class="bg-brown-600 text-white">
            <tr>
              <th class="py-3 px-4">#</th>
              <th class="py-3 px-4">Avatar</th>
              <th class="py-3 px-4">Apodo</th>
              <th class="py-3 px-4">Email</th>
              <th class="py-3 px-4">Rol</th>
            </tr>
          </thead>
          <tbody>
            @for (user of users; track user.id) {
            <tr class="border-b border-brown-300">
              <td class="py-3 px-4">{{ user.id }}</td>
              <td class="py-3 px-4">
                <img class="w-10 h-10 rounded-full" src="{{ user.avatar }}" alt="Avatar" />
              </td>
              <td class="py-3 px-4 text-brown-900">{{ user.nickname }}</td>
              <td class="py-3 px-4 text-brown-900">{{ user.email }}</td>
              <td class="py-3 px-4">
                <div class="flex items-center gap-3">
                  <label class="flex items-center gap-2">
                    <input
                      type="radio"
                      name="role-{{ user.id }}"
                      class="text-brown-600 focus:ring-brown-700"
                      [checked]="user.role === 'admin'"
                      (change)="changeUserRole(user.email, 'admin')"
                    />
                    <span class="text-brown-700">Admin</span>
                  </label>
                  <label class="flex items-center gap-2">
                    <input
                      type="radio"
                      name="role-{{ user.id }}"
                      class="text-brown-600 focus:ring-brown-700"
                      [checked]="user.role === 'user'"
                      (change)="changeUserRole(user.email, 'user')"
                    />
                    <span class="text-brown-700">User</span>
                  </label>
                </div>
              </td>
              <td class="py-3 px-4 flex gap-2">
                <button
                  class="bg-red-600 text-white py-2 px-4 rounded-lg hover:bg-red-700 transition shadow-md"
                  (click)="deleteUser(user.email)"
                >
                  Prohibir
                </button>
                <button
                  class="bg-green-600 text-white py-2 px-4 rounded-lg hover:bg-green-700 transition shadow-md"
                  (click)="unbanUser(user.email)"
                >
                  Quitar prohibición
                </button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
