<div class="h-screen w-screen grid grid-cols-1 lg:grid-cols-3 lg:grid-rows-1 items-center justify-center bg-brown-700">

<!-- Contenedor del tablero -->
<div class="relative flex flex-col items-center justify-center w-full h-full lg:col-span-2 lg:order-1">

  <div class="mb-6 flex items-center justify-between w-auto sm:w-[80vh] mx-auto space-x-10">

    <!-- Avatar y nombre del oponente -->
    <div class="flex items-center space-x-3">
      <img *ngIf="gameService.opponent?.avatarImageUrl" [src]="baseUrl + gameService.opponent.avatarImageUrl"
        alt="Opponent" class="w-10 h-10 sm:w-12 sm:h-12 rounded-full border-2 border-black">
      <p class="text-[#301e16] font-bold text-sm sm:text-base">{{ gameService.opponent?.userName || 'Oponente' }}</p>
    </div>
  
    <!-- Temporizador del oponente -->
    <div class="bg-[#737171] text-white rounded-md p-2 text-sm sm:text-xl font-bold">
      {{ gameService.opponentTimer | pipeTimer}}
    </div>
  
  </div>
  
  
  <!--Tablero normal-->
  @if (gameService.playerColor) {
    <div class="w-full h-full flex justify-center items-center">
      <!-- Contenedor del tablero siempre cuadrado -->
      <div class="relative w-full h-full max-w-[90vw] max-h-[90vw] sm:max-w-[80vh] sm:max-h-[80vh] shadow-2xl rounded-lg border-4 border-[#D4A373] bg-[#D4A373] overflow-hidden" style="aspect-ratio: 1 / 1;">
        
        <!-- Tablero -->
        <div class="grid grid-cols-8 grid-rows-8 gap-0 absolute top-0 left-0 w-full h-full rounded-md overflow-hidden">
          
          <!-- Fila y columna del tablero -->
          @for (row of rows; track $index; let i = $index) {
          @for (col of cols; track $index; let j = $index) {
            <div class="relative w-full h-full flex items-center justify-center transition-all duration-200"
              [class.bg-brown-200]="(i + j) % 2 === 0"
              [class.bg-brown-600]="(i + j) % 2 !== 0"
              (click)="movePiece(i, j)">
              
              <!-- Coordenadas en la primera columna -->
              <span *ngIf="j === 0" class="absolute top-0 left-0 text-xs sm:text-sm text-gray-800 font-semibold p-1">
                {{ 8 - i }}
              </span>
    
              <!-- Coordenadas en la fila inferior (letras) a la derecha -->
              <span *ngIf="i === 7" class="absolute bottom-0 right-0 text-xs sm:text-sm text-gray-800 font-semibold p-1">
                {{ letters[j] }}
              </span>
    
              @for (piece of chessService.pieces; track $index) {
                @if (piece.Position.X === i && piece.Position.Y === j) {
                  @if (!piece.Player1Piece) {
                    <span class="cursor-pointer text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl text-black transition-transform hover:scale-110">
                      {{getPieceSymbol(piece.PieceType)}}
                    </span>
                  }
                  @else {
                    <span (click)="selectPiece(piece)" class="cursor-pointer text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl text-white transition-transform hover:scale-110">
                      {{getPieceSymbol(piece.PieceType)}}
                    </span>
                  }
                }
              }
    
              <!-- Mostrar movimientos posibles -->
              @if (chessService.showMovements != null) {
                @for (movements of chessService.showMovements.Movements; track $index) {
                  @if (movements.X == i && movements.Y == j) {
                    <div class="cursor-pointer flex items-center justify-center absolute inset-0 z-40" (click)="movePiece(i, j)">
                      <div class="w-6 h-6 sm:w-8 sm:h-8 md:w-10 md:h-10 lg:w-12 lg:h-12 rounded-full bg-white opacity-75 hover:opacity-100 transition-opacity duration-200"></div>
                    </div>
                  }
                }
              }
            </div>
          }
          }
        </div>
    
      </div>
    </div>
    
  }
  <!-- tablero invertido -->
  @else {
    <div class="w-full h-full flex justify-center items-center">
      <!-- Contenedor del tablero siempre cuadrado -->
      <div class="relative w-full h-full max-w-[90vw] max-h-[90vw] sm:max-w-[80vh] sm:max-h-[80vh] shadow-2xl rounded-lg border-4 border-[#D4A373] bg-[#D4A373] overflow-hidden" style="aspect-ratio: 1 / 1;">
        
        <!-- Tablero -->
        <div class="grid grid-cols-8 grid-rows-8 gap-0 absolute top-0 left-0 w-full h-full rounded-md overflow-hidden">
          
          <!-- Fila y columna del tablero -->
          @for (row of rows; track $index; let i = $index) {
          @for (col of cols; track $index; let j = $index) {
            <div class="relative w-full h-full flex items-center justify-center transition-all duration-200"
              [class.bg-brown-200]="(i + j) % 2 !== 0"
              [class.bg-brown-600]="(i + j) % 2 === 0"
              [class.bg-transparent]="true" 
              (click)="movePiece(row, col)"> <!-- Coordenadas invertidas en clic -->
              
              <!-- Coordenadas en la primera columna -->
              <span *ngIf="j === 0" class="absolute top-0 left-0 text-xs sm:text-sm text-gray-800 font-semibold p-1">
                {{ i + 1 }} <!-- Cambiado para que muestre el número correcto -->
              </span>
    
              <!-- Coordenadas en la fila inferior (letras) a la derecha -->
              <span *ngIf="i === 7" class="absolute bottom-0 right-0 text-xs sm:text-sm text-gray-800 font-semibold p-1">
                {{ letters[7 - j] }} <!-- Ajustado para invertir letras -->
              </span>
    
              <!-- Dibujar piezas en la nueva ubicación -->
              @for (piece of chessService.pieces; track $index) {
                @if (piece.Position.X === row && piece.Position.Y === col) { 
                  @if (!piece.Player1Piece) {
                    <span (click)="selectPiece(piece)" class="cursor-pointer text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl text-black transition-transform hover:scale-110">
                      {{ getPieceSymbol(piece.PieceType) }}
                    </span>
                  }
                  @else {
                    <span class="cursor-pointer text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl text-white transition-transform hover:scale-110">
                      {{ getPieceSymbol(piece.PieceType) }}
                    </span>
                  }
                }
              }
    
              <!-- Mostrar movimientos posibles -->
              <!-- Mostrar movimientos posibles -->
              @if (chessService.showMovements != null) {
                @for (movements of chessService.showMovements.Movements; track $index) {
                  @if (movements.X == row && movements.Y == col) {
                    <div class="cursor-pointer flex items-center justify-center absolute inset-0 z-40" (click)="movePiece(row, col)">
                      <div class="w-6 h-6 sm:w-8 sm:h-8 md:w-10 md:h-10 lg:w-12 lg:h-12 rounded-full bg-white opacity-75 hover:opacity-100 transition-opacity duration-200"></div>
                    </div>
                  }
                }
              }
            </div>
          }
          }
        </div>
    
      </div>
    </div>
    
  }

  <!-- Jugador -->
  <div class="mt-6 flex items-center justify-between w-auto sm:w-[80vh] mx-auto space-x-10">

    <!-- Avatar y nombre del jugador -->
    <div class="flex items-center space-x-3">
      <img [src]="baseUrl + authService.currentUser?.avatarImageUrl" alt="Player"
        class="w-10 h-10 sm:w-12 sm:h-12 rounded-full border-2 border-black">
      <p class="text-[#301e16] font-bold text-sm sm:text-base">{{ authService.currentUser?.userName || 'Jugador' }}</p>
    </div>
  
    <!-- Temporizador del jugador -->
    <div class="bg-[#b8b5b5] text-white rounded-md p-2 text-sm sm:text-xl font-bold">
      {{ gameService.currentPlayerTimer | pipeTimer }}
    </div>
  
  </div>
  

</div>

  <!-- Contenedor del chat -->
  <div class="w-full lg:w-auto lg:h-full mt-4 lg:mt-0 flex items-center justify-center lg:order-2 bg-brown-700">
    <app-chat></app-chat>
  </div>

</div>
