<div>
    <button class="m-12 cursor-pointer"  (click)="dropPiece(1)">1</button>
    <button class="m-12 cursor-pointer"  (click)="dropPiece(2)">2</button>
    <button class="m-12 cursor-pointer"  (click)="dropPiece(3)">3</button>
    <button class="m-12 cursor-pointer"  (click)="dropPiece(4)">4</button>
    <button class="m-12 cursor-pointer"  (click)="dropPiece(5)">5</button>
    <button class="m-12 cursor-pointer"  (click)="dropPiece(6)">6</button>
    <button class="m-12 cursor-pointer"  (click)="dropPiece(7)">7</button>

    
</div>


