<nav class="fixed top-0 left-0 w-full bg-[#301e16] text-[#E8D5B5] shadow-lg z-50">
    <div class="max-w-6xl mx-auto flex justify-between items-center py-4 px-6">
        <a href="">
            <h1 class="text-xl font-bold tracking-wide hover:text-[#CBA77B]">
                Chess 4 Connect
            </h1>
        </a>
        <div class="space-x-6">
            @if (usuarioToken()) {
                <a href="" (click)="closeSession()" class="text-sm font-medium hover:text-[#CBA77B]">Cerrar Sesión</a>
            }@else {
                <a href="/login" class="text-sm font-medium hover:text-[#CBA77B]">Iniciar Sesión</a>
            }
        </div>
    </div>
</nav>